.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.flex-ctr-ctr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}