.post-item-ctr * {
    text-align: left;
    margin: 0 auto;
}

.post-item-ctr {
    background: var(--pearl-color);
    padding: 15px;
    border-radius: 15px;
}

.location, .date {
    font-style: italic;
}