.post-item-ctr * {
    text-align: left;
    margin: 0 auto;
}

.post-item-ctr {
    background: var(--pearl-color);
    padding: 15px;
    border-radius: 15px;
}

.location, .date {
    font-style: italic;
}

.post-image {
    width: 80vw;
    margin-top: 10px;
}

.post-tags {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.post-tag {
    background-color: var(--background);
    border-radius: 15px;
    padding: 8px;
}

.post-body {
    white-space: pre-wrap;
}